<!-- <form method="POST"> -->
<!-- {% csrf_token %} -->
<!-- 	trip name<input type="text" name="trip_name"></br> -->
<!-- 	trip desc<input type="text"  name="trip_desc"></br> -->
<!-- price<input type="text" name="price"></br> -->
<!-- 	<input type="submit"/> -->
<!-- </form> -->
{% if objects == null%}
<form method="POST">
{% csrf_token %}
	trip name<input type="text" name="trip_name"></br>
	trip desc<input type="text"  name="trip_desc"></br>
price<input type="text" name="price"></br>
	<input type="submit"/>
</form>
{% else%}
{% for object in objects%}
<form method="POST">
{% csrf_token %}
trip name<input type="text" value="{{object.trip_name}}" name="trip_name"></br>
	trip desc<input type="text"value="{{object.trip_desc}}"  name="trip_desc"></br>
	price<input type="text" value="{{object.price}}" name="price"></br>
	<input type="submit"/>
</form>
{% endfor%}
{% endif %}
