{% load static%}
   <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MontSerrat', sans-serif;
    color:black;
}

.main{
   width: 100%;
  height:100vh;
  background-size: cover;
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 7rem;
    height: 6rem;
    margin-right: 6rem;
    margin-left: 2rem;
  }

.navbar {
    width: 100%;
    height: 100px;
    background-color: white ;
    text-decoration: none;
    padding-left: 0px;
    display: flex;
    line-height: 80px;
    opacity: 0.9;
    z-index: 99;
    transition: 0.4s;
    position: fixed;
  }
  .navbarI a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    vertical-align: top;
    margin-left: 60px;
    margin-top: 10rem;
    height: 80px;
    line-height: 120px;
    text-decoration: none;
    color:black;
  }
   .navbarI a:hover {
    background-color: whitesmoke;

   }

	 </style>
           <div class="navbar">
          <img src="{% static 'images/trip.png'%}">
            <div class="navbarI">
                <b><a href="/user/user_home">Home</a></b>
                <b><a href="/user/view_offer">Offers</a></b>
                <b><a href="/user/all_blog">Blog</a></b>
                <b><a href="#">About Us</a></b>
                <b><a href="/user/view_blog">Share your experience</a></b>
                 {% if request.user.is_authenticated %}
                <b><a href="/user/logout">Logout</a></b>
    {% endif %}
                </div>
            </div>
